<!DOCTYPE html>
<head>
    <meta charset="utf-8">
	  <title>Contribute Gadget</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="../lib/rsvp.latest.min.js"></script>
    <script src="../lib/renderjs.latest.js"></script>

    <script src="gadget_contribute.js"></script>

  </head>
  <body>
    <div class="volt-contribute__wrapper">
      <form name="volt-form__contribute" class="volt-form volt-form__contribute">
        <section class="volt-form__section">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input required class="mdl-textfield__input" name="contribute_email" type="email" id="contribute-email" />
            <label class="volt-form__label mdl-textfield__label" for="contribute-email" data-i18n="contribute-Email">Adresse Email</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input required class="mdl-textfield__input" name="contribute_first_name" type="text" id="contribute-first-name" />
            <label class="volt-form__label mdl-textfield__label" for="contribute-first-name" data-i18n="contribute-First Name">Prénom</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input required class="mdl-textfield__input" name="contribute_last_name" type="text" id="contribute-last-name" />
            <label class="volt-form__label mdl-textfield__label" for="contribute-last-name" data-i18n="contribute-Last Name">Nom</label>
          </div>
          <div class="volt-form__wrapper-sidebyside">
            <div class="volt-form__field-sidebyside mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input required class="mdl-textfield__input" name="contribute_zip_code" type="number" id="contribute-zip-code" />
              <label class="volt-form__label mdl-textfield__label" for="donate-zip-code" data-i18n="contribute-Zip Code">Code Postal</label>
            </div>
            <div class="volt-form__field-sidebyside mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input required class="mdl-textfield__input" name="contribute_city" type="text" id="contribute-city" />
              <label class="volt-form__label mdl-textfield__label" for="contribute-city" data-i18n="contribute-City">Ville</label>
            </div>
          </div>
        </section>
        <section class="volt-form__section">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input required class="mdl-textfield__input" name="contribute_subject" type="text" id="contribute-subject" />
            <label class="volt-form__label mdl-textfield__label" for="contribute_subject" data-i18n="contribute-Subject">Sujet</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <textarea required class="mdl-textfield__input" type="text" rows= "12" name="contribute_message" id="contribute_message"></textarea>
            <label class="volt-form__label mdl-textfield__label" for="contribute_message" data-i18n="contribute-Your Idea">Votre idée/proposition</label>
          </div>
        </section>
        <section class="volt-form__section volt-form__section-fullscreen">
            <label class="volt-checkbox-expander-l volt-form__label mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="contribute-publishable">
              <input checked type="checkbox" id="contribute-publishable" name="contribute_publishable" class="mdl-checkbox__input" />
              <span class="volt-form__text mdl-checkbox__label" data-i18n="contribute-I allow this contribution">Je autorise l'utilisation de mon contribution soumis dans le site web du Volt.</span>
            </label>
            <label class="volt-checkbox-expander-l volt-form__label mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="contribute-anonymized">
              <input type="checkbox" id="contribute-anonymized" name="contribute_anonymized" class="mdl-checkbox__input" />
              <span class="volt-form__text mdl-checkbox__label" data-i18n="contribute-In anonymized format">En format dépersonalisé.</span>
            </label>
            <button type="submit" class="volt-form__submit-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
              <span class="volt-text volt-submit__action" data-i18n="contribute-Send">Envoyer !</span>
              <span class="volt-text volt-submit__hint" data-i18n="contribute-(opens your email editor)">(ouvre votre editor de courriel)</span>  
            </button>
          </section>
        </form>
      </div>
  </body>
</html>
