<!DOCTYPE html>
<head>
    <meta charset="utf-8">
	  <title>Contact Gadget</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="../lib/rsvp.latest.min.js"></script>
    <script src="../lib/renderjs.latest.js"></script>

    <script src="gadget_contact.js"></script>

  </head>
  <body>
    <div class="volt-contact__wrapper">
      <form name="volt-form__contact" class="volt-form volt-form__contact">
        <section class="volt-form__section">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input required class="mdl-textfield__input" name="contact_first_name" type="text" id="contact-first-name" />
            <label class="volt-form__label mdl-textfield__label" for="contact-first-name" data-i18n="contact-First Name">Prénom</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input required class="mdl-textfield__input" name="contact_last_name" type="text" id="contact-last-name" />
            <label class="volt-form__label mdl-textfield__label" for="contact-last-name" data-i18n="contact-Last Name">Nom</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" name="contact_zip_code" type="text" id="contact-zip-code" />
            <label class="volt-form__label mdl-textfield__label" for="contact-zip-code" data-i18n="contact-Zip Code">Code Postal</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" name="contact_city" type="text" id="contact-city" />
            <label class="volt-form__label mdl-textfield__label" for="contact-city" data-i18n="contact-City">Ville</label>
          </div>
        </section>

        <section class="volt-form__section">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input required class="mdl-textfield__input" name="contact_subject" type="text" id="contact-subject" />
            <label class="volt-form__label mdl-textfield__label" for="contact_subject" data-i18n="contact-Subject">Sujet</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <textarea required class="mdl-textfield__input" type="text" rows= "9" name="contact_message" id="contact_message"></textarea>
            <label class="volt-form__label mdl-textfield__label" for="contact_message" data-i18n="contact-Your Message">Votre message</label>
          </div>
        </section>

        <section class="volt-form__section volt-form__section-fullscreen">
          <!--label class="volt-checkbox-expander-l volt-form__label mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="contact-newsletter">
            <input type="checkbox" id="contact-newsletter" name="contact_newsletter" class="mdl-checkbox__input" />
            <span class="volt-form__text mdl-checkbox__label" data-i18n="Contact-Subscribe to our Newsletter">Inscrivez-vous à notre bulletin</span>
          </label-->
          <!--label class="volt-checkbox-expander-xl volt-form__label mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="contact-privacy">
            <input required type="checkbox" id="contact-privacy" name="contact_privacy" class="mdl-checkbox__input" />
            <span class="volt-form__text mdl-checkbox__label" data-i18n="contact-I have read and approved">J'ai lu et approuvé la</span>
            <a tabindex="-1" class="volt-form__link" href="" data-i18n="contact-Data Privacy Notice">déclaration de la confidentialité des données</a>
          </label-->
          <button type="submit" class="volt-form__submit-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
            <span class="volt-text volt-submit__action" data-i18n="contact-Send">Envoyer !</span>
            <span class="volt-text volt-submit__hint" data-i18n="contact-(opens your email editor)">(ouvre votre editor de courriel)</span>  
          </button>
        </section>       
      </form>
      
    </div>
  </body>
</html>
