<!DOCTYPE html>
<head>
    <meta charset="utf-8">
	  <title>Header Gadget</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="../lib/rsvp.latest.min.js"></script>
    <script src="../lib/renderjs.latest.js"></script>
    <script src="../lib/polyfill.dialog.js"></script>
    <script src="gadget_volt_header.js"></script>

    <!-- templates -->

    <!-- country selector field -->
    <script id="country_select_template" type="text/x-supplant">
      <div class="volt-dialog__select mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
        <select class="mdl-selectfield__select volt-select__country" id="country" name="country">
          <option value=""></option>
          {content}
        </select>
        <label class="mdl-selectfield__label volt-country__label" for="country" data-i18n="dialog-Choose Country">Choisir un Pays</label>
      </div>
    </script>

    <!-- country selector entry -->
    <script id="country_option_template" type="text/x-supplant">
      <option value="{id}" {selected}><i class="volt-lang volt-lang__{id}"></i><span data-i18n="{country_i18n}">{country_name}</span></option>
    </script>

    <!-- facebook-group -->
    <script id="facebook_group_template" type="text/x-supplant">
      <a class="volt-link volt-dialog__social-media-link {facebook_group_disabled}" target="_blank" href="{facebook_group_url}"><i class="fab fa fa-facebook-f"></i></a>
    </script>
    
    <!-- city-mail -->
    <script id="city_mail_template" type="text/x-supplant">
      <a class="volt-link volt-dialog__social-media-link" href="{contact_url}"><i class="material-icons">business</i></a>
    </script>

    <!-- event-mail -->
    <script id="lead_mail_template" type="text/x-supplant">
      <a class="volt-link volt-dialog__social-media-link" href="{lead_url}"><i class="material-icons">account_box</i></a>
    </script>

    <!-- map marker popup template -->
    <script id="marker_template" type="text/x-supplant">
      <strong>{city_name}</strong>
      <br/>
      <div class="volt-marker__floater">
        <a class="volt-link volt-dialog__social-media-link {facebook_disabled}" target="_blank" href="{facebook_url}"><i class="fab fa fa-facebook"></i></a>
        {facebook_group}
        <a class="volt-link volt-dialog__social-media-link {twitter_disabled}" target="_blank" href="{twitter_url}"><i class="fab fa fa-twitter"></i></a>
        {contact_url}
        {lead_url}
        <a class="volt-link volt-dialog__button {web_disabled}" target="_blank" href="{web_url}" data-i18n="dialog-Website">Site Web</a>
      </div>
    </script>

  </head>
  <body>
    <div class="mdl-layout__header-row">
      <form name="volt-dialog" data-action="scope">
        <button type="submit" class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">language</i>
        </button>
      </form>
      <span class="volt-button__home">
        <a href="index.html"><img class="volt-image__logo" src="../../../../img/volt.min.png" alt="Volt" /></a>
      </span>
      <h2 class="volt-header__site-headline">Lille</h2>
      <div class="mdl-layout-spacer"></div>

      <div class="volt-navbar volt-navbar__about">
        <ul class="volt-navbar-list">
          <li class="volt-navbar-item"><a class="volt-navbar-link" data-attr="href:url-volt-about" href="volt-apropos.html" data-i18n="menu-Volt">Volt</a></li>
          <li class="volt-navbar-item"><a class="volt-navbar-link" data-attr="href:url-volt-vision" href="volt-vision.html" data-i18n="menu-Vision and Values">Vision et Valeurs</a></li>
          <li class="volt-navbar-item"><a class="volt-navbar-link" data-attr="href:url-volt-team" href="volt-equipe.html" data-i18n="menu-Team">L'Équipe</a></li>
          <li class="volt-navbar-item"><a class="volt-navbar-link" data-attr="href:url-volt-challenges" href="volt-enjeux.html" data-i18n="menu-Challenges">Nos enjeux</a></li>
          <li class="volt-navbar-item"><a class="volt-navbar-link" data-attr="href:url-volt-statutes" href="volt-statuts.html" data-i18n="menu-Statutes">Statuts</a></li>
          <li class="volt-navbar-item volt-navbar-item-last">
            <a class="volt-navbar-link volt-navbar-menu">
              <i class="material-icons">info</i>
              <h4 class="volt-navbar-link-title" data-i18n="menu-Who we are?">L'Idée</h4>
            </a>
          </li>
        </ul>
      </div>

      <div class="volt-navbar volt-navbar__elections">
        <ul class="volt-navbar-list">
          <li class="volt-navbar-item"><a class="volt-navbar-link" data-attr="href:url-elections-approach" href="elections-demarche.html" data-i18n="menu-Approach">Démarche</a></li>
          <li class="volt-navbar-item"><a class="volt-navbar-link" data-attr="href:url-elections-programme" href="elections-programme.html" data-i18n="menu-Programme">Programme</a></li>
          <li class="volt-navbar-item"><a class="volt-navbar-link" data-attr="href:url-elections-candidates" href="elections-candidats.html" data-i18n="menu-Candidates">Candidats</a></li>
          <li class="volt-navbar-item"><a class="volt-navbar-link" data-attr="href:url-participate-donate" href="participer-faire-un-don.html" data-i18n="menu-Donate">Faire un Don</a></li>
          <!--li class="volt-navbar-item"><a class="volt-navbar-link" data-attr="href:url-elections-shop" href="elections-boutique.html" data-i18n="menu-Campaign Shop">Boutique Électorale</a></li-->
          <!--li class="volt-navbar-item"><a class="volt-navbar-link" data-attr="href:url-elections-press-kit" href="elections-dossier-de-presse.html" data-i18n="menu-Press Kit">Dossier de Presse</a></li-->
          <li class="volt-navbar-item volt-navbar-item-last">
            <a class="volt-navbar-link volt-navbar-menu">
              <i class="material-icons">how_to_vote</i>
              <h4 class="volt-navbar-link-title" data-i18n="menu-Elections">Élections</h4>
            </a>
          </li>
        </ul>
      </div>

      <div class="volt-navbar volt-navbar__participate">
        <ul class="volt-navbar-list">
          <li class="volt-navbar-item"><a class="volt-navbar-link" data-attr="href:url-participate-events" href="participer-evenements.html" data-i18n="menu-Events">Événements</a></li>
          <li class="volt-navbar-item"><a class="volt-navbar-link" data-attr="href:url-participate-contribute" href="participer-contribuer.html" data-i18n="menu-Contribute">Contribuer un idée</a></li>
          <li class="volt-navbar-item"><a class="volt-navbar-link" data-attr="href:url-participate-membership" href="participer-devenir-membre.html" data-i18n="menu-Become Member">Devenir Membre</a></li>
          <li class="volt-navbar-item"><a class="volt-navbar-link" data-attr="href:url-participate-volunteer" href="participer-soit-benevolt.html" data-i18n="menu-Become Volunteer">Soit Bénévolt</a></li>
          <li class="volt-navbar-item"><a class="volt-navbar-link" data-attr="href:url-participate-candidate" href="participer-etre-candidate.html" data-i18n="menu-Become Candidate">Etre Candidat</a></li>
          <li class="volt-navbar-item"><a class="volt-navbar-link" data-attr="href:url-participate-start-a-team" href="participer-lancer-un-equipe.html" data-i18n="menu-Start a Team">Lancer une Équipe</a></li>
          <li class="volt-navbar-item volt-navbar-item-last">
            <a class="volt-navbar-link volt-navbar-menu">
              <i class="material-icons">extension</i>
              <h4 class="volt-navbar-link-title" data-i18n="menu-Participate">Participer</h4>
            </a>
          </li>
        </ul>
      </div>

      <div class="volt-navbar volt-navbar__stay_informed">
        <ul class="volt-navbar-list">
          <li class="volt-navbar-item"><a class="volt-navbar-link" data-attr="href:url-volt-publications" href="volt-publications.html" data-i18n="menu-Publications">Publications</a></li>
          <li class="volt-navbar-item"><a class="volt-navbar-link" data-attr="href:url-volt-newsletter" href="volt-bulletin.html" data-i18n="menu-Newsletter">Bulletin</a></li>
          <li class="volt-navbar-item"><a class="volt-navbar-link" data-attr="href:url-volt-eu-news" href="volt-actualites-europeennes.html" data-i18n="menu-Euronews">EU News</a></li>
          <li class="volt-navbar-item"><a class="volt-navbar-link" data-attr="href:url-volt-blog" href="volt-blog.html" data-i18n="menu-Blog">Blog</a></li>
          <li class="volt-navbar-item"><a class="volt-navbar-link" data-attr="href:url-volt-faq" href="volt-faq.html" data-i18n="menu-Faq">Faq</a></li>
          <li class="volt-navbar-item volt-navbar-item-last">
            <a class="volt-navbar-link volt-navbar-menu">
              <i class="material-icons">notifications</i>
              <h4 class="volt-navbar-link-title" data-i18n="menu-Stay Informed">À la Pointe</h4>
            </a>
          </li>
        </ul>
      </div>
      <form name="volt-donate">
        <input type="hidden" name="volt_target" value="url-participate-donate" />
        <button type="submit" class="mdl-button mdl-js-button mdl-button--icon volt-header__button volt-header__button-donate">
          <i class="material-icons">euro_symbol</i><h4 class="volt-navbar-link-title" data-i18n="header-Donate">Faire un don</h4>
        </button>
      </form>
      <form name="volt-join">
        <input type="hidden" name="volt_target" value="url-participate-membership" />
        <button type="submit" class="mdl-button mdl-js-button mdl-button--icon volt-header__button volt-header__button-join">
          <i class="material-icons">person_add</i><h4 class="volt-navbar-link-title" data-i18n="header-Join Volt">Rejoindre Volt</h4>
        </button>
      </form>
    </div>

    <dialog class="mdl-dialog volt-dialog volt-dialog-scope">
      <h2 class="volt-dialog__title mdl-dialog__title" data-i18n="dialog-Discover Volt">Découvrir Volt</h2>
      <div class="volt-dialog__wrapper">
        <div class="volt-dialog__select-wrapper"></div>
        <div class="volt-dialog__floater">
          <a class="volt-link volt-dialog__social-media-link volt-link__disabled" target="_blank" href=""><i class="fab fa fa-facebook"></i></a>
          <a class="volt-link volt-dialog__social-media-link volt-link__disabled" target="_blank" href=""><i class="fab fa fa-twitter"></i></a>
          <a class="volt-link volt-dialog__button volt-link__disabled" target="_blank" href="" data-i18n="dialog-Visit Site">Visit Site</a>
        </div>
      </div>

      <div class="volt-map__wrapper"></div>
      <div class="mdl-card__actions mdl-card--border volt-dialog__actions">
        <form name="volt-fullscreen" class="volt-dialog__action-form volt-dialog__action-full">
          <button type="submit" class="volt-dialog__button mdl-button">
            <i class="material-icons">fullscreen</i>
            <span data-i18n="dialog-Fullscreen" class="volt-dialog__text-responsive">Plein Écran</span>
          </button>
        </form>
        <form name="volt-minimize" class="volt-dialog__action-form volt-dialog__action-exit volt-hidden">
          <button type="submit" class="volt-dialog__button mdl-button">
            <i class="material-icons">fullscreen_exit</i>
            <span data-i18n="dialog-Minimize" class="volt-dialog__text-responsive">Minimiser</span>
          </button>
        </form>
        <form name="volt-localise" class="volt-dialog__action-form">
          <button type="submit" class="volt-dialog__button mdl-button volt-dialog__action-localise volt-link__disabled">
            <i class="material-icons">person_pin</i>
            <span data-i18n="dialog-Localiser" class="volt-dialog__text-responsive">Localisateur</span>
          </button>
        </form>
        <form name="volt-dialog-close" class="volt-dialog__action-form">
          <button type="submit" class="volt-dialog__button mdl-button volt-dialog-close" autofocus data-i18n="dialog-Close">Fermer</button>
        </form>
      </div>
    </dialog>
  </body>
</html>
