<!DOCTYPE html>
<head>
    <meta charset="utf-8">
	  <title>Map Event Gadget</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="lib/leaflet.css" />

    <script src="rsvp.latest.min.js"></script>
    <script src="renderjs.latest.min.js"></script>
    <script src="lib/leaflet.js"></script>

    <script src="gadget_map_event.js"></script>

    <script id="marker_event_template" type="text/x-supplant">
      <strong>{location_name}</strong>
    </script>
        
  </head>
  <body>
    <div id="volt-map__event" class="volt-map__event-container"></div>
  </body>
</html>