<!DOCTYPE html>
<head>
    <meta charset="utf-8">
	  <title>Landing Page Gadget</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="rsvp.latest.min.js"></script>
    <script src="renderjs.latest.min.js"></script>
    <script src="gadget_volt_organisational_chart.js"></script>
  </head>
  <body>

    <div class="volt-team__banner">
      <img class="volt-team__banner-logo" src="../../img/FR-Graphics.Lille.Logo.png" alt="Logo Lille" />
      <h2 class="volt-team__banner-title">Lille</h2>
    </div>
    <div class="volt-team__section volt-team__city-leads">
      <h3 class="volt-team__section-header" data-i18n="organisation-Functional Team Leads">Chef d'équipes fonctionnels</h3>
      <p data-i18n="organisation-Volt membres responsible for">Les membres de Volt responsable de l'organisation du groupe de ville et les fonctions clés</p>
      <ul class="volt-team__portrait-list">
        <li class="volt-team__portrait-item">
          <img class="volt-team__portrait-image" src="../../img/FR-Graphics.Members.Profile.Outline.svg" alt="Outline" />
          <figcaption data-i18n="organisation-City Lead">Chef d'équipe</figcaption>
        </li>
        <li class="volt-team__portrait-item">
          <img class="volt-team__portrait-image" src="../../img/FR-Graphics.Members.Profile.Outline.svg" alt="Outline" />
          <figcaption data-i18n="organisation-Communication Lead">Chef d'équipe Communication</figcaption>
        </li>
        <li class="volt-team__portrait-item">
          <img class="volt-team__portrait-image" src="../../img/FR-Graphics.Members.Profile.Outline.svg" alt="Outline" />
          <figcaption data-i18n="organisation-Campaign Lead">Chef d'équipe Campagne</figcaption>
        </li>
      </ul>
    </div>

    <div class="volt-team__section volt-team__quartier-leads">
      <h3 class="volt-team__section-header" data-i18n="organisation-Quartier Team Leads">Chef d'équipes des quartiers</h3>
      <p data-i18n="organisation-Members organising community">Les membres qui organisent d'équipes communautaires et travaillent sur les quartiers.</p>
      <ul class="volt-team__portrait-list">
        <li class="volt-team__portrait-item">
          <img class="volt-team__portrait-image" src="../../img/FR-Graphics.Members.Profile.Outline.svg" alt="Outline" />
          <figcaption>Vieux-Lille</figcaption>
        </li>
        <li class="volt-team__portrait-item">
          <img class="volt-team__portrait-image" src="../../img/FR-Graphics.Members.Profile.Outline.svg" alt="Outline" />
          <figcaption>Lille-Centre</figcaption>
        </li>
        <li class="volt-team__portrait-item">
          <img class="volt-team__portrait-image" src="../../img/FR-Graphics.Members.Profile.Outline.svg" alt="Outline" />
          <figcaption>Bois Blancs</figcaption>
        </li>
        <li class="volt-team__portrait-item">
          <img class="volt-team__portrait-image" src="../../img/FR-Graphics.Members.Profile.Outline.svg" alt="Outline" />
          <figcaption>Vauban-Esquermes</figcaption>
        </li>
        <li class="volt-team__portrait-item">
          <img class="volt-team__portrait-image" src="../../img/FR-Graphics.Members.Profile.Outline.svg" alt="Outline" />
          <figcaption>Wazemmes</figcaption>
        </li>
        <li class="volt-team__portrait-item">
          <img class="volt-team__portrait-image" src="../../img/FR-Graphics.Members.Profile.Outline.svg" alt="Outline" />
          <figcaption>Lille-Moulin</figcaption>
        </li>
        <li class="volt-team__portrait-item">
          <img class="volt-team__portrait-image" src="../../img/FR-Graphics.Members.Profile.Outline.svg" alt="Outline" />
          <figcaption>Faubourg de Béthune</figcaption>
        </li>
        <li class="volt-team__portrait-item">
          <img class="volt-team__portrait-image" src="../../img/FR-Graphics.Members.Profile.Outline.svg" alt="Outline" />
          <figcaption>Lille-Sud</figcaption>
        </li>
        <li class="volt-team__portrait-item">
          <img class="volt-team__portrait-image" src="../../img/FR-Graphics.Members.Profile.Outline.svg" alt="Outline" />
          <figcaption>Saint-Maurice Pellevoisin</figcaption>
        </li>
        <li class="volt-team__portrait-item">
          <img class="volt-team__portrait-image" src="../../img/FR-Graphics.Members.Profile.Outline.svg" alt="Outline" />
          <figcaption>Fives</figcaption>
        </li>
        <li class="volt-team__portrait-item">
          <img class="volt-team__portrait-image" src="../../img/FR-Graphics.Members.Profile.Outline.svg" alt="Outline" />
          <figcaption>Hellemmes</figcaption>
        </li>
        <li class="volt-team__portrait-item">
          <img class="volt-team__portrait-image" src="../../img/FR-Graphics.Members.Profile.Outline.svg" alt="Outline" />
          <figcaption>Lomme</figcaption>
        </li>
      </ul>
    </div>

    <div class="volt-team__section volt-team__members">
      <h3 class="volt-team__section-header" data-i18n="organisation-Supporters">Les sympathisants</h3>
      <p data-i18n="organisation-Associations, individual supporters">Des associations, sympathisants et membres actifs de notre mouvement pour créer une administration municipale de citoyens.</p>
      <ul class="volt-team__portrait-list">
        <li class="volt-team__portrait-item">
          <img class="volt-team__portrait-image" src="../../img/FR-Graphics.Members.Profile.Outline.svg" alt="Outline" />
          <figcaption data-i18n="organisation-Be our next member">Devenir Membre</figcaption>
        </li>
        <li class="volt-team__portrait-item">
          <img class="volt-team__portrait-image" src="../../img/FR-Graphics.Members.Profile.Outline.svg" alt="Outline" />
          <figcaption data-i18n="organisation-Join us">Rejoignez-nous</figcaption>
        </li>
        <li class="volt-team__portrait-item">
          <img class="volt-team__portrait-image" src="../../img/FR-Graphics.Members.Profile.Outline.svg" alt="Outline" />
          <figcaption data-i18n="organisation-You're part of it">Vous en faites parti</figcaption>
        </li>
      </ul>
    </div>
  </body>
</html>
